* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #3161E0;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

h1 {
    align-items: center;
}

.upper-bullets {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#upper-menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#section-right-text {
    padding-left: 250px;
    padding-right: 350px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#section-left-text {
    padding-left: 250px;
    padding-right: 350px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

#section-upper-text {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer {
    padding-left: 100px;
    padding-right: 100px;
    color: #4671E7;
    background-color: #23272A;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer>div>p {
    color: white;
}